{% extends 'base.html.twig' %}

{% block title %}TicketPlanType index{% endblock %}

{% block body %}
    <h1>TicketPlanType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket_plan_type in ticket_plan_types %}
            <tr>
                <td>{{ ticket_plan_type.id }}</td>
                <td>{{ ticket_plan_type.name }}</td>
                <td>
                    <a href="{{ path('ticket_plan_type_show', {'id': ticket_plan_type.id}) }}">show</a>
                    <a href="{{ path('ticket_plan_type_edit', {'id': ticket_plan_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ticket_plan_type_new') }}">Create new</a>
{% endblock %}